## Data Analysis with Python Course Project
***

In this project, you'll be analysing listings data from an e-commerce Platform. 

The dataset is stored in the `data/project_data.xlsx` file. It contains listing information posted on the platform.

One single listing corresponds to one row in the dataset.

The dataset has 12 columns, and 464433 rows. 

Here are the brief descriptions of each column:
- `itemid`: a unique ID of the product
- `shopid`: a unique ID of the shop
- `item_name`: product title  
- `item_description`: detailed  product description
- `item_variation`: stores variations of a product (e.g. different colours or sizes, in the format like {variation 1 name: variation 1 price, variation 2 name: variation 2 price})
- `price`: how much does the item sold
- `stock`: how many stocks left 
- `category`: which category does the product belongs to 
- `cb_option`: 1 indicates the product is sold by a cross border shop
- `is_preferred`: 1 indicates the product is sold by a preferred shop
- `sold_count`: how many products have been sold 
- `item_creation_date`: when are the product uploaded by the seller

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('project_data.xlsx')

### Questions

1. How many unique shops are in the dataset?

In [3]:
# TO DO
len(data['shopid'].unique())

7856

2. How many unique preferred and cross border shops are in the dataset?

In [4]:
# TO DO

len(data[(data.cb_option==1) & (data.is_preferred==1)]['shopid'].unique())

158

3. How many products have zero sold count?

In [5]:
# TO DO

len(data[data.sold_count==0])

438092

4. How many products were created in the year 2018?

In [6]:
# TO DO

from datetime import datetime

data['year'] = [i.strftime('%Y') for i in data['item_creation_date']]
data.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016

In [7]:
len(data[(data.year=='2018')]['itemid'].unique())

177407

5. Show Top 3 Preferred shops’ shopid that have the largest number of unique products

In [8]:
# TO DO
data[data['is_preferred']==1].groupby(['shopid'])['itemid'].count().sort_values(ascending = False)[0:3]

shopid
43384791    2034
6072241     1998
26974701    1037
Name: itemid, dtype: int64

6. Show Top 3 Categories that have the largest number of unique cross-border products

In [9]:
# TO DO
data[data['cb_option']==1].groupby(['category'])['itemid'].count().sort_values(ascending = False)[0:3]

category
Women's Apparel     80494
Mobile & Gadgets    58760
Men's Wear          51795
Name: itemid, dtype: int64

7. Find Top 3 shopid with the highest revenue (Assumption: the product price has not been changed.)

In [10]:
# TO DO
data['revenue']= data['price']*data['sold_count']
data.tail(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue
464428,517929442,13744999,Women Back Brest Dress Package Hips Dress,Type: Dress Gender: Womens Size Type: Regular ...,"{White S: 8.3, Black XL: 8.3, White XL: 8.3, B...",8.3,0,Women's Apparel,1,0,0,2017-09-24 18:42:46,2017,0.0
464429,490461243,13744999,Heart Alloy Pendant Necklace for women,Gender: For Women Item Type: Pendant Necklaces...,{},0.6,0,Jewellery & Accessories,1,0,0,2017-09-15 21:10:15,2017,0.0
464430,494272761,13744999,Heart Alloy Pendant Necklace for women,Gender: For Women Item Type: Pendant Necklaces...,{},3.0,0,Jewellery & Accessories,1,0,0,2017-09-17 09:07:06,2017,0.0
464431,259494170,13744999,Women Mid Elastic Waist Straight Shorts,"Style: Active Length: Mini Material: Nylon,Pol...","{Purple: 2.0, Rose: 2.0, Sapphire blue: 3.0, B...",2.0,0,Women's Apparel,1,0,1,2017-05-14 11:46:53,2017,2.0
464432,314558812,13744999,Women Mid Elastic Waist Straight Shorts,"Style: Active Length: Mini Material: Nylon,Pol...","{Purple: 4.0, Rose: 4.0, Sapphire blue: 4.0, B...",4.0,0,Women's Apparel,1,0,0,2017-06-20 21:48:26,2017,0.0

In [11]:
data.groupby(['shopid'])['revenue'].sum().sort_values(ascending =False)[0:3]

shopid
18796234    177897.79
30769353     63491.39
30628794     39852.00
Name: revenue, dtype: float64

8. Find number of products that have more than 3 variations (do not include products with 3 or fewer variations)

In [17]:
# TO DO

data['variation_count']= [i.count(':') for i in data['item_variation']]

data[['item_variation','variation_count']].head(8)

                                      item_variation  variation_count
0                                                 {}                0
1                                                 {}                0
2                                                 {}                0
3                                                 {}                0
4  {NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...                6
5  {NIKE SWOOSH DENIM: 35.0, NIKE SWOOSH BLACK: 3...                6
6  {Hydratg UV: 28.72, Super Hydg: 28.72, Whiteni...                3
7                                                 {}                0

In [20]:
data[data['variation_count']>3]['itemid'].count()

242150

9. Identify duplicated listings within each shop (If listing A and B in shop S have the exactly same product title, product detailed description, and price, both listing A and B are considered as duplicated listings)

In [21]:
# concatinating the data in the required columns into one column
data['listing_details'] = data['item_name'].astype(str) + data['item_description'].astype(str) + data['price'].astype(str)

data.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...

In [22]:
shopid_listing_count = data.groupby(['listing_details'])['shopid'].count().reset_index()

shopid_listing_count.head(5)

                                     listing_details  shopid
0    \t Bandage Bodycon Skirt No meet up Size XS25.0       2
1               Fashion Women Shoulder Bag Satche...       1
2               Fashion Women Shoulder Bag Satche...       1
3               Fashion Women Shoulder Bag Satche...       1
4          BOTTOM HIGH WAIST CLASSICColor: BLACK ...       1

In [23]:
duplicated_listing = shopid_listing_count[shopid_listing_count.shopid>1]

duplicated_listing.head(5)

                                      listing_details  shopid
0     \t Bandage Bodycon Skirt No meet up Size XS25.0       2
12       New Women Handbag ShoulderFeature:    100...       2
13     Fashion Handbag Lady Shoulder Bag Tote Purs...       2
14     LVPAI  Vente chaude De Mode De Luxe  Femmes...       2
16     Mens canvas Sport  Sneakers Recreational Ca...       3

In [24]:
duplicated_listing.columns = ['listing_details','shopid_count']

10. Mark those duplicated listings with True otherwise False and store the marking result in a new column named “is_duplicated”

In [25]:
# TO DO
data_new = pd.merge(data, duplicated_listing, on='listing_details', how='left')

data_new.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details,shopid_count
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...,NaN

In [28]:
data_new['is_duplicated'] = [True if not pd.isnull(i) else False for i in data_new['shopid_count']]

data_new.tail(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details,shopid_count,is_duplicated
464428,517929442,13744999,Women Back Brest Dress Package Hips Dress,Type: Dress Gender: Womens Size Type: Regular ...,"{White S: 8.3, Black XL: 8.3, White XL: 8.3, B...",8.3,0,Women's Apparel,1,0,0,2017-09-24 18:42:46,2017,0.0,8,Women Back Brest Dress Package Hips DressType:...,NaN,False
464429,490461243,13744999,Heart Alloy Pendant Necklace for women,Gender: For Women Item Type: Pendant Necklaces...,{},0.6,0,Jewellery & Accessories,1,0,0,2017-09-15 21:10:15,2017,0.0,0,Heart Alloy Pendant Necklace for womenGender: ...,NaN,False
464430,494272761,13744999,Heart Alloy Pendant Necklace for women,Gender: For Women Item Type: Pendant Necklaces...,{},3.0,0,Jewellery & Accessories,1,0,0,2017-09-17 09:07:06,2017,0.0,0,Heart Alloy Pendant Necklace for womenGender: ...,NaN,False
464431,259494170,13744999,Women Mid Elastic Waist Straight Shorts,"Style: Active Length: Mini Material: Nylon,Pol...","{Purple: 2.0, Rose: 2.0, Sapphire blue: 3.0, B...",2.0,0,Women's Apparel,1,0,1,2017-05-14 11:46:53,2017,2.0,6,Women Mid Elastic Waist Straight ShortsStyle: ...,NaN,False
464432,314558812,13744999,Women Mid Elastic Waist Straight Shorts,"Style: Active Length: Mini Material: Nylon,Pol...","{Purple: 4.0, Rose: 4.0, Sapphire blue: 4.0, B...",4.0,0,Women's Apparel,1,0,0,2017-06-20 21:48:26,2017,0.0,6,Women Mid Elastic Waist Straight ShortsStyle: ...,NaN,False

11. Find duplicate listings that has less than 2 sold count and store the result in a new excel file named “duplicated_listings.xlsx”

In [29]:
# TO DO
data_new[(data_new['is_duplicated']) & (data_new['sold_count']<2)]

duplicated_listing.to_excel('duplicated_listings.xlsx', index=False)

12. Find the preferred shop shopid that have the most number of duplicated listings

In [33]:


data_new[data_new['is_preferred']==1].groupby(['shopid'])['is_duplicated'].count().sort_values(ascending = False)

shopid
43384791    2034
6072241     1998
26974701    1037
4498082      887
37983742     677
            ...
17678304       2
18092986       2
18119429       2
18640536       2
16027971       2
Name: is_duplicated, Length: 533, dtype: int64